*.o
*~
.deps
.libs
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache/
build/Makefile
build/Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxygen-build.stamp
doc/html/
doc/latex/
doc/man/
doc/reference.doxygen
examples/Makefile
examples/Makefile.in
examples/example_client
examples/example_server
examples/example_tcp_echo_server
examples/nonblocking_server_example
install-sh
liblo.pc
libtool
lo/Makefile
lo/Makefile.in
lo/lo.h
lo/lo_endian.h
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/cpp_test
src/cpp_test-cpp_test.o
src/liblo.def
src/liblo.la
src/liblo_la-address.lo
src/liblo_la-blob.lo
src/liblo_la-bundle.lo
src/liblo_la-message.lo
src/liblo_la-method.lo
src/liblo_la-pattern_match.lo
src/liblo_la-send.lo
src/liblo_la-server.lo
src/liblo_la-server_thread.lo
src/liblo_la-timetag.lo
src/subtest
src/subtest-subtest.o
src/test_bidirectional_tcp
src/test_bidirectional_tcp-test_bidirectional_tcp.o
src/testlo
src/testlo-testlo.o
src/tools/Makefile
src/tools/Makefile.in
src/tools/oscdump
src/tools/oscdump-oscdump.o
src/tools/oscsend
src/tools/oscsend-oscsend.o
stamp-h1
test
test-driver
test.cpp
