*.o
*~
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache/
build/Makefile
build/Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxygen-build.stamp
doc/html/
doc/latex/
doc/man/
doc/reference.doxygen
examples/Makefile
examples/Makefile.in
examples/example_client
examples/example_server
examples/example_tcp_echo_server
examples/nonblocking_server_example
install-sh
liblo.pc
libtool
lo/Makefile
lo/Makefile.in
lo/lo.h
lo/lo_endian.h
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/cpp_test
src/liblo.def
src/subtest
src/test_bidirectional_tcp
src/testlo
src/tools/Makefile
src/tools/Makefile.in
src/tools/oscdump
src/tools/oscsend
stamp-h1
test
test-driver
test.cpp
